li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  box-sizing: border-box;
  border: 2px solid var(--grey-scale-2);
  background-color: white;
  border-radius: 0.5rem;
  list-style-type: circle;
}
.div-btn-card {
  display: flex;
  width: 50%;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}
.div-btn-card > p {
  margin: 0;
  padding: 0;
}
